* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  color: #222;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

main {
  width: 75%;
  height: auto;
  margin: 0 auto;
  padding: 0 1em;
  background-color: ghostwhite;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  padding: 0.6em 0 0.1em 0;
  animation: show 1.5s ease;
}

p {
  text-align: center;
  animation: show 1.5s ease;
  padding-bottom: 15px;
}

a {
  transition: transform 0.45s ease;
}

a:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.button {
  font-size: 14pt;
  width: 100px;
  height: 35px;
  color: slateblue;
  font-weight: bold;
  border: 1px solid slateblue;
  background-color: rgba(105, 90, 205, 0.1);
  border-radius: 3px;
  transition: transform 550ms ease;
  cursor: pointer;
}

.button:hover {
  transition: transform 350ms ease;
  transform: scale(1.1);
}

.social-media {
  text-align: center;
  height: auto;
  padding: 0 0 0.6em 0;
}

.social-media a {
  color: white;
  padding: 0.4em 0.6em;
  display: inline-block;
  border-radius: 2px;
  animation: open 1s cubic-bezier(0.77, 0.51, 0.19, 1.17);
}

.github {
  background-color: #222;
}

.twitter {
  background-color: royalblue;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes open {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

#move {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  background-color: royalblue;
  position: relative;
}

#move > .square {
  width: 75px;
  height: 75px;
  background-color: sandybrown;
  position: absolute;
}

/* SCROLL WITH CLICK */
.scroll-click {
  height: 500px;
  width: 80%;
  background-color: #e5eee9;
  margin: 0 auto;
  margin-top: 2em;
}

.scroll-click .list {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  padding: 1em;
}

.scroll-click__item {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
  border: 3px solid steelblue;
  background-color: rgba(70, 131, 180, 0.1);
}

.scroll-click__item + .scroll-click__item {
  margin-left: 10px;
}

.scroll-click__buttons--container {
  margin-top: 10px;
  margin-left: 10px;
}
